<mat-card class="card bg-transparent shadow-sm m-2">
  <div class="card-header">
    <mat-card-title>
      Nombre del Estudiante: {{ estudiante()?.nombre }}
      <mat-divider />
      Documento: {{ estudiante()?.documento }}
    </mat-card-title>
  </div>

  <mat-card-content>
  <div class="mb-2">
    <strong>ID:</strong> {{ estudiante()?.id }}
  </div>

  <div class="mb-2">
    Curso: {{ estudiante()?.curso }}
  </div>

    <div class="row justify-content-center align-items-center g-2">
      <div class="col">Edad: {{ estudiante()?.edad }}</div>
      <div class="col">Género: {{ estudiante()?.genero }}</div>
      <div class="col">Teléfono: {{ estudiante()?.telefono }}</div>
      <div class="col">Correo: {{ estudiante()?.correo }}</div>
    </div>
  </mat-card-content>

  <mat-card-actions align="end" class="d-flex justify-content-around mt-3">
    <button class="m-2" mat-flat-button color="accent" [routerLink]="['/editar/', estudiante()?.id]">
      <mat-icon>edit</mat-icon>
      Editar
    </button>
    <button mat-stroked-button color="primary" class="m-2" [routerLink]="['/detalle/', estudiante()?.id]">
      <mat-icon>visibility</mat-icon>
      Detalles
    </button>
  </mat-card-actions>

  <mat-card-footer class="d-flex justify-content-center mt-3">
    <button mat-flat-button color="warn" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
      Eliminar
    </button>
  </mat-card-footer>
</mat-card>
